[buildout]
extensions =
    buildout.dumppickedversions
    mr.developer
dump-picked-versions-file = versions-dumped.cfg
overwrite-picked-versions-file = true

eggs-directory     = ${buildout:directory}/eggs
download-cache     = ${buildout:directory}/downloads

parts =
    instance

extends = 
    http://download.zope.org/Zope2/index/2.12.3/versions.cfg
    http://dist.plone.org/release/4.0/versions.cfg
versions = versions


find-links =
    http://dist.plone.org/release/4.0
    http://dist.plone.org/thirdparty

eggs =
    PilWoTK

develop =


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
#debug-mode = on
#verbose-security = on
blob-storage = var/blobstorage
eggs =
    Zope2
    Plone
    ${buildout:eggs}

    plone.app.themeeditor
    zettwerk.ui

environment-vars =
    zope_i18n_compile_mo_files = true

zcml =
    plone.app.themeeditor

products =
    ${buildout:directory}/products

